{% extends 'gauth/base.html' %}

{% block main %}
 <div>
 <h1>authentication demo</h1>
 <p>{{request.get_full_path}}</p>
 <a href="{% url 'register' %}">Registration</a>

 <p>
   <ul>
   {% if user and not user.is_anonymous %}
     <li>
       <a>Hello {{ user.get_full_name|default:user.username }}!</a>
     </li>
     <li>
       <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
     </li>
   {% else %}
     <li>
       <a href="{% url 'register' %}?next=/oauth2redirect">Login with Google</a>     
     </li>
   {% endif %}
   </ul>
 </p>
 </div>
{% endblock %}