<!DOCTYPE HTML>
<!--
	Introspect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
{% extends "gauth/base.html" %}
{% block title %}10 Thousand Hours{% endblock title %}
{% load static %}

{% block main %}
		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>10kHours: <span>Visualisation of your way to goals<br />
					using Google Calendar</span></h1>
					<ul class="actions">
						<li><a href="{% url 'register' %}" class="button alt">Registration</a></li>
						<li><a href="{% url 'login' %}" class="button alt">Log in</a></li>
					</ul>
				</div>
			</section>

		<!-- One -->
			<section id="one">
				<div class="inner">
					<header>
						<h2>About</h2>
					</header>
					<p>This site was made to visualise your Google Calendar data. I think, it’s interesting to see your progress in a matter of hours spent, so this site can help you with such task.</p>
					<ul class="actions">
						<li><a href="#" class="button alt">Learn More</a></li>
					</ul>
				</div>
			</section>

{% endblock main %}



