{% extends "gauth/base.html" %}
{% load static %}

{% block main %}
<form class="form-inline" method="POST" action="">
{% csrf_token %}
    <fieldset>
        <legend>{{ title }}</legend>
        <div class="form-group">
            <label for="id_period" class="form-label">Period</label>
            <!-- <select id="id_period" name="period" required> -->
                <!-- <option value="this_month">this month</option>
                <option value="last_30_days">last 30 days</option>
                <option value="this_week">this week</option> -->
            <!-- </select> -->
            {{ form.period }}
        </div>
        <div class="form-group">
            <label for="id_calendar" class="form-label">Calendar</label>
            {{ form.calendar }}
        </div>
        <div class="form-group">
            <label for="id_sync" class="form-label">Sync</label>
            <select id="id_sync" name="sync" required>
                <option value="no_sync">nah, thanks</option>
                <option value="sync">yeah, for sure</option>
            </select>
        </div>
        <div class="form-group">
            <label for="id_keywords" class="form-label">Keywords</label>
            <input id="id_keywords" type="text">
        </div>
        <div class="form-group">
            <label for="id_visualize" class="form-label"><br></label>
            <input type=submit value="Visualize!">       
        </div>
    
    </fieldset>
</form>
    

    {% for image_dict in images %}
        <p>{{ image_dict.title }}</p>
        <img src="{{ image_dict.path }}">
        <br>
    {% endfor %}
{% endblock main %}


